#about
  %p
    Twitter gives us a whole hundred and fourty characters to play around with,
    and you're only gonna use twenty of them?  
  %p
    %strong How ungrateful!
  %p
    Twefficiency.com allows you to show the world just how much you value the
    gift of free speech that Evan and Biz have granted you!
  %p 
    Twefficiency.com downloads your latest tweets, performs some
    = link_to "serious mathematics", "http://en.wikipedia.org/wiki/Average"
    on them, and spits out a single value -
    %strong your Twefficiency!
  %p
    You can then either brag to your friends, or (oh, wasteful web communicator)
    wallow in your terrible shame!
